aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
chardet==3.0.4
git+git://github.com/Rapptz/discord.py@rewrite#egg=discord.py
idna==2.6
idna-ssl==1.1.0
multidict==4.2.0
git+git://github.com/Support-Manager/neo4j-connection.git@8144fe6#egg=neo4j-connection
py2neo==4.2.0
ruamel.yaml==0.15.37
websockets==6.0
yarl==1.1.1
