aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
chardet==3.0.4
discord.py==1.0.0a1497+g8d39ab8
idna==2.6
idna-ssl==1.1.0
multidict==4.2.0
neo4j-connection==0.2.1
py2neo==3.1.2
PyYAML==3.12
ruamel.yaml==0.15.37
websockets==6.0
yarl==1.1.1
